/* 
* {
  margin: 0px;
  padding: 0px;
}

#slideshow {
 margin: 50px 10%;
 position: relative;
 width:80%;
}
 
ul {
  list-style: none;
}
 
li {
 float: left;
 overflow: hidden;
 margin: 0 20px 0 0;
 
}
 
li a {
 color: #222;
 text-decoration: none;
 font: 15px/1 Helvetica, sans-serif;
 
 -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
     -ms-transition: color 0.5s ease;
         transition: color 0.5s ease;
}
 
li a:hover {
 color: #50b0df;
}
 
li img {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
  transition: opacity 1s ease-in-out;
 
}
 
li img:target {
 z-index: 1;
}
 
li img:not(:target) {
 opacity: 0;
} */


body{
    padding: 0;
    margin: 0;
}

* {
  margin: 0px;
  padding: 0px;
}
.row{
    margin-top: 50px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}
ul {
  list-style: none;
  display: flex;
}
 
li {
    padding: 15px;
}
 
li a {
 color: #222;
 text-decoration: none;
 font: 15px/1 Helvetica, sans-serif;
 transition: color 0.5s ease;
}
 
li a:hover {
 color: #50b0df;
}

img {
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  /* z-index: -1; */
  transition: opacity 1s ease-in-out;
 
}

img:target {
 /* z-index: 1; */
 opacity: 1;
}

img:not(:target) {
 opacity: 0;
  /* z-index: -1; */

} 