.parent-table{
    overflow-x: auto;
}
.page-link:focus {
    outline: none;
    box-shadow: 0 0 0;
}
select {
    display: block;
    width: 100%;
    padding: 5px;
}
select:focus{
    outline: none;
}
